.navbar{
  min-height: 100px;
  a.nav-link{
    font-size: smaller;
    font-family: 'PT Sans', sans-serif !important;
  }

  .dropdown-item{
    font-size: smaller;
    font-family: 'PT Sans', sans-serif !important;
  }
}